@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#dropdown-menu-13 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-13 .nav .link,
#dropdown-menu-13 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-13 .navbar,
#dropdown-menu-13 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-13 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-13 .dropdown-menu a:hover,
#dropdown-menu-13 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-13 .navbar-toggler {
  color: #000000;
}
#image1-7 DIV {
  text-align: center;
  font-size: 84px;
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box3-p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-p .mbr-header .mbr-header__subtext {
  text-align: center;
}
